
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
   
}
span {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
  transition: background 0.3s;
  border: 2px solid white;
  cursor: pointer;
}
#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #e68900;
}

#scrollBtn:hover {
  background-color: #e68900;
}
p{
  text-align: justify;
  text-justify: inter-word;
  padding: 5px;
  border: 0px solid #4CAF50;
  padding: 5px;
  color : black;
}

body {
	margin-top:0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: solid black;
}

.container {
  width: 90%;
  margin: 0 auto;
}


header {
  background-color: #222;
  color: #fff;
  padding: 10px 0;
 

}

.logo {
  background-color: #e68900;
  width: 270px;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 5px;
  
}
strong {
   font-size: 24px;
  font-weight: bold;
   color: black;
}
nav ul {
  list-style: none;
  float: right;
  margin-right: 20px;
  margin-bottom:10px;
 
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff9800;
}
.responsive {
	border-radius: 5px;
  width: 100%;
  height: auto;
}

.header-banar {
 position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: black;
  padding: 15px;
   border-bottom: 2px solid #e68900;
    z-index: 99;
}
.menu-area {
  display: grid;
   border: 0px solid orange;
  background-color: black;
  padding: 10px;
}

.logo-area {
  background-color: black
  border: 0px solid orange;
  height:20px
  padding: 10px;
}


.logo-area h1 {
  background-color: #ff9800;
  
}

.banar {
	margin-top:0px;
	width: 100%;
	 background-image: url("../img/bannar.jpg");
	 
  height: auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.banar-content {
  padding: 40px;
  border-radius: 10px;
  opacity: 1;
}

.banar h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  color:white;
}
.banar h3 {
  font-size: 1rem;
  margin-bottom: 5px;
  color:white;
}

.btn {
  display: inline-block;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
  transition: background 0.3s;
  border: 1px solid #e68900;
}

.btn:hover {
  background-color: #e68900;
}


.menu {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.menu h2 {
  margin-bottom: 40px;
  font-size: 2rem;
  color: black;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
   z-index: 10;
}

.menu-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 250px;
  padding-bottom: 20px;
  transition: transform 0.3s;
}

.menu-item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height : 200px;
}

.menu-item:hover {
  transform: scale(1.03);
}

.menu-item h3 {
  margin: 15px 0 5px;
   color: black;
}

.menu-item span {
  color: #ff9800;
  font-weight: bold;
}


.about {
	margin-top:0px;
	width: 100%;

	 background-image: url("../img/about.jpg");
	 opacity: 0.8;
	  height: 80vh;
  padding: 60px 40px;
  text-align: center;
z-index: 1;
}
h6 {
	
   font-size: 28px;
  font-weight: bold;
  color: white;
  opacity: 1;
  z-index: 2;
}

.contact {
  background-color: #f9f9f9;
  color: black;
  padding: 60px 20px;
  text-align: center;
}

.contact form {
  max-width: 500px;
  
  margin: 0 auto;
  
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.contact button {
  background-color: black;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  border: 1px solid #e68900;
}

.contact button:hover {
  background-color: #e68900;
}
h2{
	color: black;
	
}


footer {
  background-color: black;
  border-top: 5px solid #e68900;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  nav ul {
    float: none;
    text-align: center;
  }
  .menu-items {
    flex-direction: column;
    align-items: center;
  }
}
